* {
    box-sizing: border-box;
}

body{
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}


.main-header-container-top {
    background-color: red;

    height: 69px;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* Tela 1 */

.tela-1{

    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-1{

    padding-top: 77px;
    width: 73%;
    height: auto;

    display: flex;
    flex-direction: column;
}
.criar-quizz{

    width: 100%;
    height: 181px;

    border: 1px dashed #d5d5d5;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.criar-quizz p{

    width: 250px;

    font-size: 20px;
    line-height: 23px;

    text-align: center;
    color: #B9B9B9;
    
}
.criar-quizz button{

    width: 151px;
    height: 40px;

    color: #EC362D;

    border: 1px dashed #EC362D;
    border-radius: 50px;

    background-color: inherit;
}
.seus-quizzes p{
    width: 139px;

    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.seus-quizzes ion-icon{

    width: 30px;
    height: 30px;

    color: #EC362D;
    background-color: inherit;
}
.todos-quizzes{

     width: 100%;
     height: 409px;

    padding-top: 77px;
}
.todos-quizzes p{

    font-weight: 700;
    font-size: 20px;

    display: flex;
    align-items: center;

}

.quizz-container {

    width: 100%;
    max-height: 374px;
    height: fit-content;

    gap: 12px 15px;

    display: flex;
    flex-wrap: wrap;

    margin-top: 13px;

    overflow-y: scroll;
    overflow-x: auto;
    
    
}
.quizz-container::-webkit-scrollbar{
    width: 5px;
}
.go-quizz{
    position: relative;
    width: 340px;
    height: 181px;

    border-radius: 5px;

    background-image: linear-gradient(rgba(245, 238, 238, 0.692) 0%, rgba(0,0,0,0.5) 65%, rgba(0,0,0,0.8) 100%);
}
.go-quizz p{
    position: absolute;

    width: 309px;
    height: 54px;

    font-size: 19px;

    display: flex;
    align-items: center;

    bottom:0px;
    left: 17px;
    overflow-x:auto;
   
}
.go-quizz img{

    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0px;
    left: 0px;

    border-radius: 5px;
}
@media (max-width: 375px){
    .content-1{
        width: 90%;
        padding-top: 31px;
    }
    .seus-quizzes{
        padding-top: 35px;
    }
}

/* Tela 2 */


.unselected {

    filter: opacity(0.5);
}

.hidden{
    display: none;
}

.main-header-container-bottom {
    height: 227px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-position: center;
}

.main-content {
    padding-top: 42px;
}

.quest-container {
    background-color: white;

    width: 759px;
    height: 676px;

    margin: 0 auto 42px auto;

    padding-top: 28px;
}

.quest-title {
    background-color: #434CA0;

    width: 690px;
    height: 140px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
}

.options-container {

    width: 690px;

    margin: 20px auto 0 auto;

    display: flex;
    flex-wrap: wrap;

    gap: 20px;


}

.option img {

    width: 330px;
    height: 175px;


}

.quizz-result {
    background-color: white;

    width: 759px;
    height: 676px;

    margin: 0 auto 42px auto;

    padding-top: 28px;
}

.quizz-results-header {
    width: 727px;
    height: 99px;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: red;
}

.quizz-results-content {
    display: flex;
    width: 727px;
    margin: 18px auto;
}
.quizz-results-content img {
    width: 364px;

    margin-right: 18px;
}

.reset-button {
    background-color: red;
    border: none;
    display: block;
    width: 260px;
    height: 52px;

    border-radius: 15px;
    margin: auto;
    
}

.back-button {

    background-color: white;
    border: none;
    
    display: block;
    width: 220px;
    height: 52px;

    border-radius: 10px;
    margin: 10px auto 0 auto;
    
}
/* Tela 3 */
.tela3{

    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

}
.container3{

    width: 41.7%;
    height: auto;

    display: flex;
    flex-direction: column;

}
.container3 strong:nth-child(2){
    text-align: center;
}
.nvl {

    display: flex;
    flex-direction: column;


}
input {

    width: 100%;
    height: 46px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;

}
input::placeholder {

    font-style: italic;
    color: #bababa;
    font-size: 19px;

}

.not-display{

    display: none;

}

/* tela 3 lardy */
/* Tela 3 */

.tela-3{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.titulo-form{
    font-size: 23px;
    line-height: 27px;
    font-weight: 700;
    margin-bottom: 27px;
}

.formulario{
    display: flex;
    flex-direction: column;

    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05)
}
.comeco{
    width: 600px;
    height: 256px;
    justify-content: center;
}
.perguntas{
    width: 600px;
}
.perguntas input:last-child{
    margin-bottom: 23px;
}
h4{
    margin-left: 20px;
    margin-top: 23px;
    margin-bottom: 10px;
}
.perguntas .url-incorreta1,
.perguntas .url-incorreta2,
.perguntas .url-incorreta3{
margin-bottom: 23px;
}
.nivel{
    width: 600px;
    height: 316px;
    padding-bottom: 23px;
    margin-bottom: 23px;
    justify-content: center;
}
.header-form{
    display: flex;
    margin: 27px 20px 12px 20px;
    justify-content: space-between;
    align-items: center;

}
.header-form ion-icon{
    font-size: 26px;
    line-height: 700;
}

h4,
h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.formulario input{
    width: 564px;
    height: 46px;
    
    margin: 5px 18px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding-left: 15px;
    
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    color: black;
}

.formulario input::placeholder{
    font-style: italic;
    color: #BABABA;
    font-weight: 400;
}

.botao-t3{
    width: 368px;
    height: 54px;
    margin-top: 85px;
    border-radius: 15px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC362D;
    color: #ffffff;
    font-size: 21px;
    line-height: 25px;
    cursor: pointer;
}

.botao-t3:hover{
    background-color: #f1453c;
}